<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Code | Bernardo Ameneyro</title>
    <meta name="author" content="Bernardo Ameneyro" />
    <meta name="description" content="Bernardo Ameneyro's programming projects">
    <meta name="keywords" content="Ameneyro, Bernardo, Quantum Computing, Topological Data Analysis, Machine Learning, Mathematics, LaTeX, Python, Large Language Models" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="https://sandman-ba.github.io/bameneyro/" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="script.js"></script>
</head>

<body>
    {% include header.html %}

    {% include navigation.html %}

    <section class="programming-projects">
        <dl>
            <dt>LaTeX Resources for Math Instructors</dt>
            <dd>
                <a href="https://github.com/Ameneyro-Research-and-Software/UTKMath-Exam" target="_blank" title="Go to GitHub repo for LaTeX Math Exam Document Class">Math Exam Document Class</a>
            </dd>
            <dd>
                <a href="https://github.com/Ameneyro-Research-and-Software/UTKMath-LA" target="_blank" title="Go to GitHub repo for LaTeX Math Worksheet Document Class">Math Worksheet Document Class</a>
            </dd>
            <dd>
                <a href="https://github.com/Ameneyro-Research-and-Software/UTKMath-Macros" target="_blank" title="Go to GitHub repo for LaTeX Math Macros Package">Math Macros Package</a>
            </dd>
            <dd>
                <a href="https://github.com/Ameneyro-Research-and-Software/UTKMath-Templates" target="_blank" title="Go to GitHub repo for LaTeX Math Exam and Worksheet Templates">Math Exam and Worksheet Templates</a>
            </dd>
        </dl>
    </section>

    {% include footer.html %}
</body>

</html>
