<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Research | Bernardo Ameneyro</title>
    <meta name="author" content="Bernardo Ameneyro" />
    <meta name="description" content="Bernardo Ameneyro's research projects" />
    <meta name="keywords" content="Ameneyro, Bernardo, Quantum Computing, Topological Data Analysis, Machine Learning, Mathematics, LaTeX, Python, Large Language Models" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="https://sandman-ba.github.io/bameneyro/" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="script.js"></script>
</head>

<body>
    {% include header.html %}

    {% include navigation.html %}

    <section class="research-projects">
        <dl>
            <dt>Quantum Topological Data Analysis</dt>
            <dd>
                <a href="https://iopscience.iop.org/article/10.1088/2632-072X/ad9fca" target="_blank" title="Go to Quantum Distance Approximation for Persistence Diagrams paper">Quantum Distance Approximation for Persistence Diagrams</a>
            </dd>
            <dd>
                <a href="https://link.springer.com/article/10.1007/s41468-023-00160-7" target="_blank" title="Go to Quantum Persistent Homology paper">Quantum Persistent Homology</a>
            </dd>
            <dd>
                <a href="https://ieeexplore.ieee.org/abstract/document/9996768" target="_blank" title="Go to Quantum Persistent Homology for Time Series paper">Quantum Persistent Homology for Time Series</a>
            </dd>
        </dl>
    </section>

    {% include footer.html %}
</body>

</html>
