<footer>
    <div class="footer-left">
        <h4>Links:</h4>
        <a href="mailto:bameneyr@vols.utk.edu" target="_blank" title="Email Bernardo Ameneyro">
            <i class="fa fa-envelope fa-contact-logos" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/bernardo-ameneyro" target="_blank" title="Go to Bernardo Ameneyro on LinkedIn">
            <i class="fab fa-linkedin fa-contact-logos" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/sandman-ba" target="_blank" title="Go to Bernardo Ameneyro's GitHub site">
            <i class="fab fa-github fa-contact-logos" aria-hidden="true"></i>
        </a>
        <a href="https://scholar.google.com/citations?user=Kyr1vl0AAAAJ&hl=en" target="_blank" title="Go to Bernardo Ameneyro's Google Scholar site">
            <i class="fa-brands fa-google-scholar fa-contact-logos" aria-hidden="true"></i>
        </a>
    </div>
    <div class="footer-right">
        <p>Copyright &copy; 2025 Bernardo Ameneyro</p>
        <p>This page is licensed under a <a href="https://creativecommons.org/licenses/by-nd/4.0/" target="_blank" title="Go to license">Creative Commons Attribution-NoDerivatives 4.0 International License</a> (CC-BY-ND 4.0).</p>
        <p>Source code: <a href="https://github.com/sandman-ba/bameneyro/" target="_blank" title="Go to source code">GitHub</a></p>
        <p>Color schemes: <a href="https://catppuccin.com/" target="_blank" title="Go to Catppuccin website">Catppuccin</a></p>
    </div>
</footer>
