<nav>
    <ul class="navigation">
        <li class="navigation"><a href="" title="Go to About me page">About Me</a></li>
        <li class="navigation"><a href="research/" title="Go to Research projects page">Research</a></li>
        <li class="navigation"><a href="code/" title="Go to Programming projects page">Code</a></li>

        <li class="theme-select">
            <select name="theme-select" id="theme-select">
                <option value="" disabled selected>Choose Theme</option>
                <option value="latte">Latte</option>
                <option value="frappe">Frappe</option>
                <option value="macchiato">Macchiato</option>
                <option value="mocha">Mocha</option>
            </select>
        </li>
    </ul>
</nav>
