:root.latte {
  --rosewater: #dc8a78;
  --rosewater-rgb: 220 138 120;
  --rosewater-hsl: 10.800 58.824% 66.667%;

  --flamingo: #dd7878;
  --flamingo-rgb: 221 120 120;
  --flamingo-hsl: 0.000 59.763% 66.863%;

  --pink: #ea76cb;
  --pink-rgb: 234 118 203;
  --pink-hsl: 316.034 73.418% 69.020%;

  --mauve: #8839ef;
  --mauve-rgb: 136 57 239;
  --mauve-hsl: 266.044 85.047% 58.039%;

  --red: #d20f39;
  --red-rgb: 210 15 57;
  --red-hsl: 347.077 86.667% 44.118%;

  --maroon: #e64553;
  --maroon-rgb: 230 69 83;
  --maroon-hsl: 354.783 76.303% 58.627%;

  --peach: #fe640b;
  --peach-rgb: 254 100 11;
  --peach-hsl: 21.975 99.184% 51.961%;

  --yellow: #df8e1d;
  --yellow-rgb: 223 142 29;
  --yellow-hsl: 34.948 76.984% 49.412%;

  --green: #40a02b;
  --green-rgb: 64 160 43;
  --green-hsl: 109.231 57.635% 39.804%;

  --teal: #179299;
  --teal-rgb: 23 146 153;
  --teal-hsl: 183.231 73.864% 34.510%;

  --sky: #04a5e5;
  --sky-rgb: 4 165 229;
  --sky-hsl: 197.067 96.567% 45.686%;

  --sapphire: #209fb5;
  --sapphire-rgb: 32 159 181;
  --sapphire-hsl: 188.859 69.953% 41.765%;

  --blue: #1e66f5;
  --blue-rgb: 30 102 245;
  --blue-hsl: 219.907 91.489% 53.922%;

  --lavender: #7287fd;
  --lavender-rgb: 114 135 253;
  --lavender-hsl: 230.935 97.203% 71.961%;

  --text: #4c4f69;
  --text-rgb: 76 79 105;
  --text-hsl: 233.793 16.022% 35.490%;

  --subtext1: #5c5f77;
  --subtext1-rgb: 92 95 119;
  --subtext1-hsl: 233.333 12.796% 41.373%;

  --subtext0: #6c6f85;
  --subtext0-rgb: 108 111 133;
  --subtext0-hsl: 232.800 10.373% 47.255%;

  --overlay2: #7c7f93;
  --overlay2-rgb: 124 127 147;
  --overlay2-hsl: 232.174 9.623% 53.137%;

  --overlay1: #8c8fa1;
  --overlay1-rgb: 140 143 161;
  --overlay1-hsl: 231.429 10.048% 59.020%;

  --overlay0: #9ca0b0;
  --overlay0-rgb: 156 160 176;
  --overlay0-hsl: 228.000 11.236% 65.098%;

  --surface2: #acb0be;
  --surface2-rgb: 172 176 190;
  --surface2-hsl: 226.667 12.162% 70.980%;

  --surface1: #bcc0cc;
  --surface1-rgb: 188 192 204;
  --surface1-hsl: 225.000 13.559% 76.863%;

  --surface0: #ccd0da;
  --surface0-rgb: 204 208 218;
  --surface0-hsl: 222.857 15.909% 82.745%;

  --base: #eff1f5;
  --base-rgb: 239 241 245;
  --base-hsl: 220.000 23.077% 94.902%;

  --mantle: #e6e9ef;
  --mantle-rgb: 230 233 239;
  --mantle-hsl: 220.000 21.951% 91.961%;

  --crust: #dce0e8;
  --crust-rgb: 220 224 232;
  --crust-hsl: 220.000 20.690% 88.627%;
}

:root.frappe {
  --rosewater: #f2d5cf;
  --rosewater-rgb: 242 213 207;
  --rosewater-hsl: 10.286 57.377% 88.039%;

  --flamingo: #eebebe;
  --flamingo-rgb: 238 190 190;
  --flamingo-hsl: 0.000 58.537% 83.922%;

  --pink: #f4b8e4;
  --pink-rgb: 244 184 228;
  --pink-hsl: 316.000 73.171% 83.922%;

  --mauve: #ca9ee6;
  --mauve-rgb: 202 158 230;
  --mauve-hsl: 276.667 59.016% 76.078%;

  --red: #e78284;
  --red-rgb: 231 130 132;
  --red-hsl: 358.812 67.785% 70.784%;

  --maroon: #ea999c;
  --maroon-rgb: 234 153 156;
  --maroon-hsl: 357.778 65.854% 75.882%;

  --peach: #ef9f76;
  --peach-rgb: 239 159 118;
  --peach-hsl: 20.331 79.085% 70.000%;

  --yellow: #e5c890;
  --yellow-rgb: 229 200 144;
  --yellow-hsl: 39.529 62.044% 73.137%;

  --green: #a6d189;
  --green-rgb: 166 209 137;
  --green-hsl: 95.833 43.902% 67.843%;

  --teal: #81c8be;
  --teal-rgb: 129 200 190;
  --teal-hsl: 171.549 39.227% 64.510%;

  --sky: #99d1db;
  --sky-rgb: 153 209 219;
  --sky-hsl: 189.091 47.826% 72.941%;

  --sapphire: #85c1dc;
  --sapphire-rgb: 133 193 220;
  --sapphire-hsl: 198.621 55.414% 69.216%;

  --blue: #8caaee;
  --blue-rgb: 140 170 238;
  --blue-hsl: 221.633 74.242% 74.118%;

  --lavender: #babbf1;
  --lavender-rgb: 186 187 241;
  --lavender-hsl: 238.909 66.265% 83.725%;

  --text: #c6d0f5;
  --text-rgb: 198 208 245;
  --text-hsl: 227.234 70.149% 86.863%;

  --subtext1: #b5bfe2;
  --subtext1-rgb: 181 191 226;
  --subtext1-hsl: 226.667 43.689% 79.804%;

  --subtext0: #a5adce;
  --subtext0-rgb: 165 173 206;
  --subtext0-hsl: 228.293 29.496% 72.745%;

  --overlay2: #949cbb;
  --overlay2-rgb: 148 156 187;
  --overlay2-hsl: 227.692 22.286% 65.686%;

  --overlay1: #838ba7;
  --overlay1-rgb: 131 139 167;
  --overlay1-hsl: 226.667 16.981% 58.431%;

  --overlay0: #737994;
  --overlay0-rgb: 115 121 148;
  --overlay0-hsl: 229.091 13.360% 51.569%;

  --surface2: #626880;
  --surface2-rgb: 98 104 128;
  --surface2-hsl: 228.000 13.274% 44.314%;

  --surface1: #51576d;
  --surface1-rgb: 81 87 109;
  --surface1-hsl: 227.143 14.737% 37.255%;

  --surface0: #414559;
  --surface0-rgb: 65 69 89;
  --surface0-hsl: 230.000 15.584% 30.196%;

  --base: #303446;
  --base-rgb: 48 52 70;
  --base-hsl: 229.091 18.644% 23.137%;

  --mantle: #292c3c;
  --mantle-rgb: 41 44 60;
  --mantle-hsl: 230.526 18.812% 19.804%;

  --crust: #232634;
  --crust-rgb: 35 38 52;
  --crust-hsl: 229.412 19.540% 17.059%;
}

:root.macchiato {
  --rosewater: #f4dbd6;
  --rosewater-rgb: 244 219 214;
  --rosewater-hsl: 10.000 57.692% 89.804%;

  --flamingo: #f0c6c6;
  --flamingo-rgb: 240 198 198;
  --flamingo-hsl: 0.000 58.333% 85.882%;

  --pink: #f5bde6;
  --pink-rgb: 245 189 230;
  --pink-hsl: 316.071 73.684% 85.098%;

  --mauve: #c6a0f6;
  --mauve-rgb: 198 160 246;
  --mauve-hsl: 266.512 82.692% 79.608%;

  --red: #ed8796;
  --red-rgb: 237 135 150;
  --red-hsl: 351.176 73.913% 72.941%;

  --maroon: #ee99a0;
  --maroon-rgb: 238 153 160;
  --maroon-hsl: 355.059 71.429% 76.667%;

  --peach: #f5a97f;
  --peach-rgb: 245 169 127;
  --peach-hsl: 21.356 85.507% 72.941%;

  --yellow: #eed49f;
  --yellow-rgb: 238 212 159;
  --yellow-hsl: 40.253 69.912% 77.843%;

  --green: #a6da95;
  --green-rgb: 166 218 149;
  --green-hsl: 105.217 48.252% 71.961%;

  --teal: #8bd5ca;
  --teal-rgb: 139 213 202;
  --teal-hsl: 171.081 46.835% 69.020%;

  --sky: #91d7e3;
  --sky-rgb: 145 215 227;
  --sky-hsl: 188.780 59.420% 72.941%;

  --sapphire: #7dc4e4;
  --sapphire-rgb: 125 196 228;
  --sapphire-hsl: 198.641 65.605% 69.216%;

  --blue: #8aadf4;
  --blue-rgb: 138 173 244;
  --blue-hsl: 220.189 82.813% 74.902%;

  --lavender: #b7bdf8;
  --lavender-rgb: 183 189 248;
  --lavender-hsl: 234.462 82.278% 84.510%;

  --text: #cad3f5;
  --text-rgb: 202 211 245;
  --text-hsl: 227.442 68.254% 87.647%;

  --subtext1: #b8c0e0;
  --subtext1-rgb: 184 192 224;
  --subtext1-hsl: 228.000 39.216% 80.000%;

  --subtext0: #a5adcb;
  --subtext0-rgb: 165 173 203;
  --subtext0-hsl: 227.368 26.761% 72.157%;

  --overlay2: #939ab7;
  --overlay2-rgb: 147 154 183;
  --overlay2-hsl: 228.333 20.000% 64.706%;

  --overlay1: #8087a2;
  --overlay1-rgb: 128 135 162;
  --overlay1-hsl: 227.647 15.455% 56.863%;

  --overlay0: #6e738d;
  --overlay0-rgb: 110 115 141;
  --overlay0-hsl: 230.323 12.351% 49.216%;

  --surface2: #5b6078;
  --surface2-rgb: 91 96 120;
  --surface2-hsl: 229.655 13.744% 41.373%;

  --surface1: #494d64;
  --surface1-rgb: 73 77 100;
  --surface1-hsl: 231.111 15.607% 33.922%;

  --surface0: #363a4f;
  --surface0-rgb: 54 58 79;
  --surface0-hsl: 230.400 18.797% 26.078%;

  --base: #24273a;
  --base-rgb: 36 39 58;
  --base-hsl: 231.818 23.404% 18.431%;

  --mantle: #1e2030;
  --mantle-rgb: 30 32 48;
  --mantle-hsl: 233.333 23.077% 15.294%;

  --crust: #181926;
  --crust-rgb: 24 25 38;
  --crust-hsl: 235.714 22.581% 12.157%;
}

:root,
:root.mocha {
  --rosewater: #f5e0dc;
  --rosewater-rgb: 245 224 220;
  --rosewater-hsl: 9.600 55.556% 91.176%;

  --flamingo: #f2cdcd;
  --flamingo-rgb: 242 205 205;
  --flamingo-hsl: 0.000 58.730% 87.647%;

  --pink: #f5c2e7;
  --pink-rgb: 245 194 231;
  --pink-hsl: 316.471 71.831% 86.078%;

  --mauve: #cba6f7;
  --mauve-rgb: 203 166 247;
  --mauve-hsl: 267.407 83.505% 80.980%;

  --red: #f38ba8;
  --red-rgb: 243 139 168;
  --red-hsl: 343.269 81.250% 74.902%;

  --maroon: #eba0ac;
  --maroon-rgb: 235 160 172;
  --maroon-hsl: 350.400 65.217% 77.451%;

  --peach: #fab387;
  --peach-rgb: 250 179 135;
  --peach-hsl: 22.957 92.000% 75.490%;

  --yellow: #f9e2af;
  --yellow-rgb: 249 226 175;
  --yellow-hsl: 41.351 86.047% 83.137%;

  --green: #a6e3a1;
  --green-rgb: 166 227 161;
  --green-hsl: 115.455 54.098% 76.078%;

  --teal: #94e2d5;
  --teal-rgb: 148 226 213;
  --teal-hsl: 170.000 57.353% 73.333%;

  --sky: #89dceb;
  --sky-rgb: 137 220 235;
  --sky-hsl: 189.184 71.014% 72.941%;

  --sapphire: #74c7ec;
  --sapphire-rgb: 116 199 236;
  --sapphire-hsl: 198.500 75.949% 69.020%;

  --blue: #89b4fa;
  --blue-rgb: 137 180 250;
  --blue-hsl: 217.168 91.870% 75.882%;

  --lavender: #b4befe;
  --lavender-rgb: 180 190 254;
  --lavender-hsl: 231.892 97.368% 85.098%;

  --text: #cdd6f4;
  --text-rgb: 205 214 244;
  --text-hsl: 226.154 63.934% 88.039%;

  --subtext1: #bac2de;
  --subtext1-rgb: 186 194 222;
  --subtext1-hsl: 226.667 35.294% 80.000%;

  --subtext0: #a6adc8;
  --subtext0-rgb: 166 173 200;
  --subtext0-hsl: 227.647 23.611% 71.765%;

  --overlay2: #9399b2;
  --overlay2-rgb: 147 153 178;
  --overlay2-hsl: 228.387 16.757% 63.725%;

  --overlay1: #7f849c;
  --overlay1-rgb: 127 132 156;
  --overlay1-hsl: 229.655 12.775% 55.490%;

  --overlay0: #6c7086;
  --overlay0-rgb: 108 112 134;
  --overlay0-hsl: 230.769 10.744% 47.451%;

  --surface2: #585b70;
  --surface2-rgb: 88 91 112;
  --surface2-hsl: 232.500 12.000% 39.216%;

  --surface1: #45475a;
  --surface1-rgb: 69 71 90;
  --surface1-hsl: 234.286 13.208% 31.176%;

  --surface0: #313244;
  --surface0-rgb: 49 50 68;
  --surface0-hsl: 236.842 16.239% 22.941%;

  --base: #1e1e2e;
  --base-rgb: 30 30 46;
  --base-hsl: 240.000 21.053% 14.902%;

  --mantle: #181825;
  --mantle-rgb: 24 24 37;
  --mantle-hsl: 240.000 21.311% 11.961%;

  --crust: #11111b;
  --crust-rgb: 17 17 27;
  --crust-hsl: 240.000 22.727% 8.627%;
}
